@mixin heading-styling {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    margin: 30px 0;
  }
  @mixin sec-heading-style {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    margin: 30px 0;
  }
  @mixin text-styling {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
  @mixin main-btn {
    font-family: "Oswald";
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5em 1.8em;
    border-radius: 2em;
    letter-spacing: 0.1em;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
  }
  @mixin logo-setting {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
  }
  @mixin navbar-setting {
    list-style: none;
    text-align: center;
    display: flex;
  }
  @mixin nav-link-setting {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    margin: 20px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2em;
  }
  
