footer {
  background-color: #464547;
}

footer .container {
  display: grid;
  grid-template-rows: 90%;
  grid-template-columns: 25% 25% 25% 25%;
}

footer p,
footer a {
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
  text-align: left;
}

footer .footer-logo p {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  color: rgb(255, 255, 255);
}

footer .footer-logo {
  grid-column: span 1;
  display: flex;
  align-items: center;
}

footer .footer-logo img {
  height: 1.5em;
  padding-right: 0.5em;
}

footer .footer-info {
  grid-column: span 3;
}

footer .emailing {
  grid-row: 3/3;
  grid-column: 2/2;
}

footer .footer-copy {
  grid-column: 4/4;
  grid-row: 3/3;
  text-align: right !important;
}