/*desktop-----------*/
header {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background: linear-gradient(rgba(0, 0, 0, 0.1647058824), rgba(0, 0, 0, 0));
  padding: 0 150px;
}
header .logo {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.navbar ul {
  list-style: none;
  text-align: center;
  display: flex;
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li .nav-link {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
  margin: 20px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
}

.navbar ul li .nav-link,
.navbar ul li .nav-link::after,
.navbar ul li .nav-link::before {
  transition: all 0.3s ease-in-out;
}

.navbar ul li .nav-link:hover {
  color: #ffffff;
}

.navbar ul li .nav-link {
  position: relative;
}

.navbar ul li .nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background-color: rgb(255, 255, 255);
  height: 2px;
}

.navbar ul li .nav-link:hover:after {
  width: 80%;
  background-color: #ffffff;
}

.navbar .hamburger {
  display: none;
}/*# sourceMappingURL=header.css.map */