.showcase-area {
  background-image: url(../assets/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  height: auto;
}
.showcase-area img {
  animation: rotation-key 3s ease-in-out infinite alternate-reverse;
}
.showcase-area .container {
  text-align: center;
  padding: 40vh 30vw 19vh 30vw;
}
.showcase-area .container p {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  margin: 30px 0;
}
.showcase-area .container h1 {
  color: #fff;
}
.showcase-area .container .logo-anim {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  animation: scale-key 3s ease-in-out infinite alternate-reverse;
}

@-webkit-keyframes rotation-key {
  0% {
    transform: rotateY(-180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes rotation-key {
  0% {
    transform: rotateY(-180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@-webkit-keyframes scale-key {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
  0% {
    transform: scale(1);
  }
}
@keyframes scale-key {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
  0% {
    transform: scale(1);
  }
}/*# sourceMappingURL=menu.css.map */