@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Source+Sans+Pro:wght@400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro";
}

h1,
h2 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  margin: 30px 0;
}

p {
  text-align: center;
}

.container {
  padding: 100px 150px;
}

/*desktop-----------*/
header {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background: linear-gradient(rgba(0, 0, 0, 0.1647058824), rgba(0, 0, 0, 0));
  padding: 0 150px;
}
header .logo {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.navbar ul {
  list-style: none;
  text-align: center;
  display: flex;
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li .nav-link {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
  margin: 20px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
}

.navbar ul li .nav-link,
.navbar ul li .nav-link::after,
.navbar ul li .nav-link::before {
  transition: all 0.3s ease-in-out;
}

.navbar ul li .nav-link:hover {
  color: #ffffff;
}

.navbar ul li .nav-link {
  position: relative;
}

.navbar ul li .nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background-color: rgb(255, 255, 255);
  height: 2px;
}

.navbar ul li .nav-link:hover:after {
  width: 80%;
  background-color: #ffffff;
}

.navbar .hamburger {
  display: none;
}

.showcase-area {
  background-image: url(../assets/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  height: auto;
}
.showcase-area img {
  animation: rotation-key 3s ease-in-out infinite alternate-reverse;
}
.showcase-area .container {
  text-align: center;
  padding: 40vh 30vw 19vh 30vw;
}
.showcase-area .container p {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  margin: 30px 0;
}
.showcase-area .container h1 {
  color: #fff;
}
.showcase-area .container .logo-anim {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  animation: scale-key 3s ease-in-out infinite alternate-reverse;
}

@-webkit-keyframes rotation-key {
  0% {
    transform: rotateY(-180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes rotation-key {
  0% {
    transform: rotateY(-180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@-webkit-keyframes scale-key {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
  0% {
    transform: scale(1);
  }
}
@keyframes scale-key {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
  0% {
    transform: scale(1);
  }
}
main {
  text-align: center;
}
main .container h1 {
  color: #464547;
}
main .sub-text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  margin: 30px 0;
  color: #666;
  padding: 0 25%;
}
main .asides {
  display: flex;
  margin-bottom: 1em;
}
main .asides p {
  color: #666666;
  text-align: left;
  padding: 2em;
  width: 50%;
}
main .main-btn {
  background-color: #55c2d8;
  color: rgb(255, 255, 255);
  font-family: "Oswald";
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5em 1.8em;
  border-radius: 2em;
  letter-spacing: 0.1em;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  border-color: #55c2d8;
  border-style: none;
  transition: all 0.5s ease-in-out;
}
main .main-btn a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
main .main-btn:hover {
  -ms-transform: rotate(15deg);
  -ms-transform-origin: 20% 40%;
  transform: rotate(15deg);
  transform-origin: 20% 40%;
}

/*video section*/
.learn-more {
  background-image: url(../assets/bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  /*video button*/
}
.learn-more .container {
  padding: 50px 150px;
  text-align: center;
}
.learn-more .container h1 {
  color: #fff;
}
.learn-more .sec-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  margin: 30px 0;
  padding: 0 30%;
}
.learn-more .play-btn {
  height: 140px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.learn-more .play-btn .circle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 140px;
  height: 140px;
  background-color: #55c2d8;
  margin: 0 auto;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s ease;
}
.learn-more .play-btn .circle .polygon {
  color: rgb(255, 255, 255);
  font-size: 70px;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s ease;
}
.learn-more .play-btn .circle:hover {
  background-color: rgb(255, 255, 255);
  width: 130px;
  height: 130px;
}
.learn-more .play-btn .circle:hover > .polygon {
  color: #55c2d8;
  font-size: 65px;
}

footer {
  background-color: #464547;
}

footer .container {
  display: grid;
  grid-template-rows: 90%;
  grid-template-columns: 25% 25% 25% 25%;
}

footer p,
footer a {
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
  text-align: left;
}

footer .footer-logo p {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  color: rgb(255, 255, 255);
}

footer .footer-logo {
  grid-column: span 1;
  display: flex;
  align-items: center;
}

footer .footer-logo img {
  height: 1.5em;
  padding-right: 0.5em;
}

footer .footer-info {
  grid-column: span 3;
}

footer .emailing {
  grid-row: 3/3;
  grid-column: 2/2;
}

footer .footer-copy {
  grid-column: 4/4;
  grid-row: 3/3;
  text-align: right !important;
}

@media only screen and (max-width: 958px) {
  .container {
    padding: 50px 100px;
  }
  header {
    padding: 50px 100px;
  }
  header .hamburger {
    display: block;
    cursor: pointer;
  }
  header .hamburger .line {
    width: 30px;
    height: 3px;
    background: rgb(255, 255, 255);
    border-radius: 3px;
    transition: all 0.1s ease-in-out;
  }
  header .hamburger .line::before,
header .hamburger .line::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background: rgb(255, 255, 255);
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
  }
  header .hamburger .line::before {
    transform: translateY(-8px);
  }
  header .hamburger .line::after {
    transform: translateY(8px);
  }
  header .hamburger.open .line {
    background: transparent;
    box-shadow: none;
  }
  header .hamburger.open .line::before {
    transform: rotate(45deg);
  }
  header .hamburger.open .line::after {
    transform: rotate(-45deg);
  }
  header .navbar {
    height: 0;
    position: absolute;
    top: 10vh;
    left: 0;
    right: 0;
    width: 100vw;
    background: linear-gradient(rgba(23, 117, 204, 0.165), rgb(11, 29, 134));
    transition: 0.2s ease-in-out;
    overflow: hidden;
  }
  header .navbar.active {
    height: 450px;
  }
  .navbar ul {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 10vh auto 0 auto;
    padding: 0 39%;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  .navbar.active ul {
    opacity: 1;
  }
  .navbar ul li a {
    margin-bottom: 12px;
    color: black;
  }
}
@media only screen and (max-width: 480px) {
  .container {
    padding: 100px 50px;
  }
  header {
    padding: 0 100px;
  }
  .navbar ul {
    padding: 0 31%;
  }
  #showcase .container {
    padding: 250px 50px;
  }
  .learn-more .container .sec-heading {
    padding: 0;
  }
  .learn-more .play-btn .circle {
    width: 100px;
    height: 100px;
  }
  .learn-more .play-btn .circle:hover {
    background-color: rgb(255, 255, 255);
    width: 70px;
    height: 70px;
  }
  .learn-more .play-btn .circle:hover > .polygon {
    color: #55c2d8;
    font-size: 35px;
  }
  .learn-more .play-btn .circle .polygon {
    font-size: 50px;
  }
}
@media only screen and (max-width: 690px) {
  .container {
    padding: 100px 20px;
  }
  header {
    padding: 0 30px;
  }
  #showcase .container {
    padding: 250px 20px 50px 20px;
  }
  main .container {
    padding: 150px 20px;
  }
  main .container .sub-text {
    padding: 0 2%;
  }
  main .container .asides {
    flex-direction: column;
  }
  main .container .asides p {
    width: 100%;
    padding: 25px 0;
  }
  .learn-more .container {
    padding: 150px 20px;
  }
  .learn-more .container .sec-heading {
    padding: 0;
  }
  .learn-more .play-btn .circle {
    width: 100px;
    height: 100px;
  }
  .learn-more .play-btn .circle:hover {
    background-color: rgb(255, 255, 255);
    width: 70px;
    height: 70px;
  }
  .learn-more .play-btn .circle:hover > .polygon {
    color: #55c2d8;
    font-size: 35px;
  }
  .learn-more .play-btn .circle .polygon {
    font-size: 50px;
  }
  footer .container {
    display: flex;
    flex-direction: column;
    text-align: center !important;
  }
  footer .footer-logo {
    justify-content: center;
  }
  footer p,
footer a {
    text-align: center;
  }
  footer p {
    padding: 15px 0;
  }
}
/*# sourceMappingURL=mobile.css.map *//*# sourceMappingURL=styles.css.map */