main {
  text-align: center;
  .container 
  h1 {
    color: #464547;
  }
  .sub-text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    margin: 30px 0;
    color: #666;
    padding: 0 25%;
  }
  .asides {
    display: flex;
    margin-bottom: 1em;
    p {
      color: #666666;
      text-align: left;
      padding: 2em;
      width: 50%;
    }
  }
  .main-btn {
    background-color: #55c2d8;
    color: rgb(255, 255, 255);
    font-family: "Oswald";
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5em 1.8em;
    border-radius: 2em;
    letter-spacing: 0.1em;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    border-color: #55c2d8;
    border-style: none;
    transition: all 0.5s ease-in-out;
    a {
      text-decoration: none;
      color: rgb(255, 255, 255);
    }
  }
  .main-btn:hover {
    -ms-transform: rotate(15deg); 
    -ms-transform-origin: 20% 40%; 
    transform: rotate(15deg);
    transform-origin: 20% 40%;
  }
}



