/*video section*/
.learn-more {
  background-image: url(../assets/bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    padding: 50px 150px;
    text-align: center;
    h1 {
      color: #fff;
    }
  }
  .sec-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    margin: 30px 0;
    padding: 0 30%;
  }
  /*video button*/
  .play-btn {
    height: 140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .circle {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 140px;
      height: 140px;
      background-color: #55c2d8;
      margin: 0 auto;
      border-radius: 100%;
      cursor: pointer;
      transition: 0.3s ease;
      .polygon {
        color: rgb(255, 255, 255);
        font-size: 70px;
        display: inline-block;
        cursor: pointer;
        transition: 0.3s ease;
      }
    }
    .circle:hover {
      background-color: rgb(255, 255, 255);
      width: 130px;
      height: 130px;
    }
    .circle:hover > .polygon {
      color: #55c2d8;
      font-size: 65px;
    }
  }
}



